html{
    height: 100%;
}
body{
    background-color: lightgray;
}
*{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.title{
    font-size: x-large;
}
.tabcenter{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
}
td{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}