html{
    height: auto;
}
body{
    background-color: lightgray;
}
*{
    text-align: center;
}
label{
    font-family: 'Courier New', Courier, monospace;
}
button{
    color: black;
    background-color: lightgray;
}
a{
    text-decoration: none;
    color: red;
}
